.menu__links__item {
  padding: 1rem 1.5rem;
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
  column-gap: 1.54rem;
  cursor: pointer;
}

.menu__links__item span {
  font-size: 1.54rem;
  color: var(--menu-text-color);
  font-weight: 400;
}

.link-active {
  background: var(--primary-color);
  color: #fff;
  box-shadow: 0 0 10px 1px rgb(115 103 240 / 70%);
  border-radius: var(--radius);
}

.link-active span {
  color: #fff;
}


